[project]
name = "trackerclassification"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "argparse>=1.4.0",
    "pydantic>=2.12.0",
    "torch>=2.8.0",
]
